/*
Colors used:
Blackish: #222529
Medium greige: #F1F0EE;
Light greige: #F9F9F9;
White: #FFFFFF;
Darker green: #4B6128;
Lighter green: #8C916F;
*/

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #222529;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #4B6128;
  text-decoration: none;
}
a:hover {
  color: #8C916F;
  text-decoration: underline;
}

a:active {
  color: #222529;
}

a:focus {
  color: #8C916F;
  text-decoration: underline;
}

/*Primary button*/
.button {
  display: inline-block;
  background-color: #4B6128;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #4B6128;
  transition: 0.2s opacity;
}

.button:hover {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

/*Secondary button*/
.secondary {
  display: inline-block;
  background-color: #ffffff;
  color: #4b6128;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #4B6128;
  transition: 0.2s opacity;
}

.secondary:hover {
  background-color: #4B6128;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

.secondary:active {
  background-color: #4B6128;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

#hero {
    background-color: #f1f0ee;
    padding: 20px 0;
    display: inline-block;
    width: 100%
}

#hero h1 {
    text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#contact {

}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 250px;
}
