/*
Colors used:
Blackish: #222529
Medium greige: #F1F0EE;
Light greige: #F9F9F9;
White: #FFFFFF;
Darker green: #4B6128;
Lighter green: #8C916F;
*/

header {
  background-color: #f1f0ee;
  padding: 10px 0 4px;
  position: fixed;
  box-shadow: 0px 0px 15px rgba(50,50,50, 0.25);
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4B6128;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4B6128;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #8C916F;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #222529;
}

nav > ul > li > a:focus {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #8C916F;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-top: 5px;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #8C916F;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

main {
  padding-top: 56px;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #222529;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #4B6128;
  text-decoration: none;
}
a:hover {
  color: #8C916F;
  text-decoration: underline;
}

a:active {
  color: #222529;
}

a:focus {
  color: #8C916F;
  text-decoration: underline;
}

/*Primary button*/
.button {
  display: inline-block;
  background-color: #4B6128;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #4B6128;
  transition: 0.2s opacity;
}

.button:hover {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

/*Secondary button*/
.secondary {
  display: inline-block;
  background-color: #ffffff;
  color: #4b6128;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #4B6128;
  transition: 0.2s opacity;
}

.secondary:hover {
  background-color: #4B6128;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

.secondary:active {
  background-color: #4B6128;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

#hero {
    background-color: #f1f0ee;
    padding: 30px 0;
    display: inline-block;
    width: 100%
}

#hero h1 {
    text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#contact {

}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 150px;
}

.linkedin {
  max-width: 50px;
}

* {
  box-sizing: border-box;
}

/*screen sizes*/
/*medium screen*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    max-width: 250px;
  }

  main {
    padding-top:125px;
  }

  body {
    font-size: 16px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h1 {
    text-align: center;
    }

  h2 {
    text-align: center;
    }

  .header-left {
    text-align: left;
  }

  h3 {
    margin: 0;
    position: relative;
    bottom: 10px;
  }

  p {
    margin-top: 0;
  }

  .header-center {
    text-align: center;
  }

  ul {
    display: table;
    margin: 0 auto;
  }

}

/*large screen*/
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

}
